body{
  background-image: url(https://i.pinimg.com/736x/32/59/75/3259751eb4e94902b24f302c29da7ddb.jpg);
  font-family: sans-serif;
  padding: 20px;
}
.form{
  background-image: url(https://w0.peakpx.com/wallpaper/704/255/HD-wallpaper-city-glitch-information-light-market-money-music-stock-stocks-tech-techno-technology-thumbnail.jpg)
}
fieldset{
  border:0;
}
h1,p{
  margin: 1em auto;
  text-align: center;
}
.name,.email,.age{
  font-size: 0.8em;
  text-align:left;
  padding:0.1em;
}
#name, #email, #number{
  margin: 0 0 0 150px;
  width: 50%
}
.field2, .field3{
  text-align: left;
  font-size: 0.8em;
}
.field2 > label{
  display: block;
  font-size: 0.8em;
}
.field2 > .recommend{
  display: block;
  font-size: 1em;
}
.optionbar{
  padding: 1em 1em 1em 0;
  text-align: left;
  font-size: 1.1 em;
  display: block;
}
.optionbar > select{
  display: block;
  width: 69%;
  height: 21px
}
.investments{
  display: block;
  text-align:left;
  font-size: 1.1em;
}
.check > label{
  font-size: 0.7em
}
.check> div{
  text-align: left;
  font-size: 0.6em;
}
.check{
  margin-top: -20px;
}
.last{
  text-align: left;
  font-size:1em;
  margin-top: 21px;
}
.lastexp{
  margin-top: 11px;
  margin-bottom: 20px;
}
input[type="submit"] {
  display: block;
  width: 30%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
}
.form{
  padding-bottom: 5px;
}
